.anchorpane {
  -fx-background-color: #111827;
  -fx-border-widht: 2px 2px 2px 2px;
}



.button-akun {
  -fx-background-color: #0099ff;
  -fx-background-radius: 90px;
}

.button-informasi {
  -fx-background-color: linear-gradient(to left, #2438a6, #8f9ad9);
}

.button-informasi:hover {
  -fx-font-veight: bold;
  -fx-background-color: #082b59;
  -fx-border-color: White;
  -fx-border-width: 3px 3px 3px 3px;
}

.button-profile {
  -fx-background-color: transparant;
}



.anchorpane-beranda {
  -fx-background-color: linear-gradient(#d6b7b5, #d4c6bd);
  -fx-background-radius: 20px;
  -fx-border-color: black;
  -fx-border-radius: 20px;
}

.latar-logo {
  -fx-background-color: #d6b7b5;
  -fx-border-color: black;
  -fx-border-width: 0px 0px 2px 0px;
}

.anchorpane-informasi {
  -fx-background-color: #081526;
}

.anchorpane-list {
  -fx-background-color: #d9d9d9;
  -fx-background-radius: 7px 7px 7px 7px;
}

.list {
  -fx-background-color: transparant;
  -fx-border-color: black;
  -fx-border-width: 0px 0px 1px 0px;
}

.lihat-rincian {
  -fx-background-color: #8359a3;
}

.lihat-rincian:hover {
  -fx-background-color: #28104e;
}

.anchorpane-winongo {
  -fx-background-color: chocolate;
  -fx-border-color: black;
  -fx-border-width: 0px 0px 1px 0px;
}

.anchorpane-right {
  -fx-border-color: black;
  -fx-border-width: 0px 0px 0px 1px;
}

.anchorpane-informasi-up {
  -fx-background-color: #d3d3d3;
}

.anchorpane-beranda-up {
  -fx-background-color: #98fb98;
  -fx-border-color: black;
  -fx-border-width: 0px 0px 1px 0px;
}

.button-logout {
    -fx-background-color: linear-gradient(#ff4d4d, #ff8080);
    -fx-background-radius: 50px;
}

.button-logout:hover {
    -fx-background-color: #ff1a1a;
    -fx-background-radius: 50px;
}

.button-tentangdlh {
  -fx-background-color: linear-gradient(#c7ea46, #98f898);
}

.button-tentangdlh:hover {
  -fx-background-color: #00a868;
  -fx-border-color: White;
  -fx-border-width: 3px 3px 3px 3px;
}

.button-ttgapk {
  -fx-background-color: linear-gradient(#ffd700, #ffff00);
}

.button-ttgapk:hover {
  -fx-background-color: #ffbd00;
  -fx-border-color: White;
  -fx-border-width: 3px 3px 3px 3px;
}

.button-login {
  -fx-background-color: #0598ff;
  -fx-background-radius: 90;

}

.button-login:hover {
  -fx-background-color: #0000ff;
}

.button-pengguna {
  -fx-background-color: linear-gradient(to left ,#0099ff, #0f4ed8);
  -fx-background-radius: 90;
}

.button-peneliti {
  -fx-background-color: transparant;
  -fx-border-color: #0099ff;
  -fx-border-radius: 90;
}

.anchorpane-sungai {
  -fx-background-color: #6237a0;
  -fx-background-radius: 0px 0px 145px 145px;
}


